body{
    /*background-color: #c3e7d3ff;*/
    background: rgb(227,255,231);
    background: linear-gradient(90deg, rgba(227,255,231,1) 0%, rgba(217,231,255,1) 100%);
}

h1,h2,h3,h4 {
    color: #403a40;
    font-size: 38px;
    font-family: 'DM Serif Display', sans-serif;
}

h2 {
    font-size: 38px;
}

h3 {
    color: #6870a1;
    font-size: 36px;
}

h4 {
    color: #6870a1;
    font-size: 30px;
    font-family: 'DM Serif Display', sans-serif;
}

.navbar-brand {
    color: #403a40;
    font-size: 24px;
    font-family: 'DM Serif Display', sans-serif;
}

p, .nav-link {
    color: #403a40;
    font-family: 'DM Sans', sans; 
}

footer {
    font-family: 'DM Sans', sans;
    color: #403a40;
}

/* Cambiar el tamaño de la imagen */
img {
    width: 100%; /* Ancho del 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}

.btn-linkedin {
    font-family: 'DM Sans', sans;
    background-color: #b9c0da;
    border-color: #b9c0da;
    color: #403a40; /* Cambiar el color del texto del botón a blanco */
}

.cardProjects{
    background-color: #f2f7f5;
    border-color: #c3e7d3ff;
    font-family: 'DM Sans', sans;
}

.btn-proyects {
    font-family: 'DM Sans', sans;
    background-color: #6870a1;
    border-color: #6870a1;
}

/* En tu archivo CSS externo */
.img-portada {
    margin-top: 50px;
}
